/**** Base scheme colors ****/
$base-dark-grey: #2c3e50;
$base-white: #fbffff;
$base-turquoise: #aae0e2;
$base-red: #b50f19;
$base-light-grey: #e7e6e2;

/**** Button colors ****/
$button-positive: #63d682;
$button-positive-accent: #7ad692;
$button-negative: #f55932;
$button-negative-accent: #f76e4c;
$button-disabled: #b1b4b1;

/**** Base typefaces ****/
$typeface-menus: 'Noto Sans';
$typeface-readable: 'Marvel';
$typeface-inspiration: 'Kaushan Script';